<html lang ="en">
<link rel = "stylesheet" href ="css/style.css">
<form method = 'post' action = '/aboutUs'>
	<header>
		<meta charset="utf-8">
		<title>Dragons Den: Games & Comics!</title>
		<hr><h3><i id="title">Dragons Den</i></h3></hr><br>
		<hr><h4><i id="subtitle">Comics & Games</i></h3></hr><br>
		<ul>
		<div id="list">
			<li><a href="/index">Home</a></li>
			<li><a href="/events">Events</a></li>
			<li><a href="/contacUs">Contact Us</a></li>
			<li><a href="/aboutUs">About Us</a></li>
		</div>
		</ul>
	</header>

	<body>
		<img id="logo" src="/img/logo.jpg" height="150px" width="150px">
    </body>
    </form>
			