<html lang ="en">
<link rel = "stylesheet" href ="css/style.css">
	<header>
		<meta charset="utf-8">
		<title>Dragons Den: Games & Comics!</title>
		<hr><h3><i id="title">Dragons Den</i></h3></hr>
		<ul>
		<div id="list">
			<li><a href="/index">Home</a></li>
			<li><a href="">test</a></li>
			<li><a href="">test2</a></li>
			<li><a href="">test3</a></li>
		</div>
		</ul>
	</header>
	<body>
	<img id="logo" src="/img/logo.jpg" height="100px" width="100px">
	</body>
			