<link rel = "stylesheet" href ="css/style.css">
<form method = 'post' action = '/home'>
	<header>
	<div id="linksnhead">
		<div id ="DD">
		Dragons Den
		</div>
		<div id="list">
   			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/events">Events</a></li>
				<li><a href="/contactUs">Contact Us</a></li>
				<li><a href="/aboutUs">About Dragons Den</a></li>
			</ul>
		</div>
		</div>
	</header>
	</form>

	<body>
		<img id="logo" src="/img/logo.jpg" height="150px" width="150px">
	</body>
