<html lang ="en">
<link rel = "stylesheet" href ="css/style.css">
<form method = 'post' action = '/home'>
	<header>
		<meta charset="utf-8">
		<title>Test</title>
		<hr><h3><i id="title">Test</i></h3></hr><br>
		<hr><h4><i id="subtitle">Test</i></h3></hr>	
		<ul>
		<div id="list">
			<li><a href="/home"></a></li>
			<li><a href="/events"></a></li>
			<li><a href="/contactUs"></a></li>
			<li><a href="/aboutUs"></a></li>
		</div>
		</ul>
	</header>
	</form>

	<body>
		<img id="logo" src="/img/logo.jpg" height="150px" width="150px">
	</body>
