<html lang ="en">
<link rel = "stylesheet" href ="css/style.css">
	<header>
		<meta charset="utf-8">
		<title>Dragons Den: Games & Comics!</title>
		<hr><h3><i id="title">Dragon's Den</i></h3></hr><br>
		<hr><h4><i id="subtitle">Comics & Games</i></h3></hr><br>
		
		<ul>
<<<<<<< HEAD
		<div id="list">
			<li><a href="/index">Home</a></li>
			<li><a href="/events">Events</a></li>
			<li><a href="/contacUs">Contact Us</a></li>
			<li><a href="/aboutUs">About Us</a></li>
		</div>
=======
			<div id="list">
				<li><a href="/index"> Home</a></li>
				<li><a href="/events"> Events</a></li>
				<li><a href="/contacUs"> Contact Us</a></li>
				<li><a href="/aboutUs"> About Us</a></li>
			</div>
>>>>>>> 777e17663565b3fb7ae617e03a6632b2710116b5
		</ul>
	</header>

	<body>
		<img id="logo" src="/img/logo.jpg" height="150px" width="150px">
	</body>
			