body {
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	background-color: white;
	position: absolute;
	top: -15px;
	left: 0px;
	padding-left: 0px;
}


ul {
	list-style-type: none;
	margin: 0;
	width:1000px;
	height: 0%;
	overflow: hidden;
	background-color: transparent;
	padding-left: 150px;
	padding-bottom: 55px;
}

li  {
	display: inline-block;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #red;
}

#logo {
	position: relative;
}

#title {
	position: fixed;
	padding-left: 125px;
}
